* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Gelasio', sans-serif; */
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 33px 0 0;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    margin-left: -200px;
}

.menu {
    list-style: none;
    display: flex;
}

.menu-item {
    padding: 0 20px;
}

.menu-link1 {
    font-family: 'Gelasio' sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: #1B75BB;
    text-decoration: none;
}

.menu-link {
    font-family: 'Gelasio' sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: rgba(8, 31, 50, 0.7);
    text-decoration: none;
}

.first-section {
    background: url(../img/img1.jpg) center no-repeat;  
    background-size: cover;
    min-height: 690px;
    padding: 214px 0 30px;
    margin-bottom: 336px;
}

.first-section-top {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(27, 117, 187, 0.8);
    margin: 0 0 15px;
}

.first-section-title {
    font-family: 'Gelasio', serif;
    font-weight: 600;
    font-size: 57px;
    line-height: 120%;
    color: #081F32;
    max-width: 456px;
    margin: 0 0 27px;
}

.first-section-title span {
    color: #1B75BB;
}

.first-section-text {
    font-size: 18px;
    line-height: 160%;
    max-width: 347px;
    margin: 0 0 31px;
    color: rgba(8, 31, 50, 0.6);
}

.btn {
    background: #1B75BB;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 15px 31px;
}

.first-block {
    padding: 24px 49px 24px 21px; 
    display: flex;
    justify-content: space-between;
    margin: 48px 0 0 -49px; 
    max-width: 687px;
    background: rgba(255, 255, 255, 0.21);
    backdrop-filter: blur(70px);
    border-radius: 10px;
    position: absolute;
}

.block {
    padding-right: 30px;
    padding-left: 28px;
}

.block-h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #081F32;
}

.block-p {
    font-size: 16px;
    line-height: 160%;
    color: rgba(8, 31, 50, 0.8);
}

.hr {
    margin-top: 14px;
    size: 700px;
    width: 2px;
    max-height: 34px; 
    color: rgba(157, 172, 184, 0.4); 
}

.main {
    margin: 0 auto;
    max-width: 1301px;
    display: flex;
    margin-bottom: 140px;
}

.img2 {
    
}

.img3 {
    position: absolute;
    margin: -51px 0 0 -433px;
    z-index: -1;
}

.img4 {
    position: absolute;
    margin: 176px 0 0 -716px;
    z-index: -1;
}

.text {
    padding: 23px 0 0 155px;
}

.block-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;  
    color: rgba(27, 117, 187, 0.8);  
    margin-bottom: 15px;
}

.h2 {
    font-family: 'Gelasio' sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    color: #081F32;
    margin-bottom: 31px;
    max-width: 432px;
}

@media screen and (max-width: 768px) {
    .first-section-title {
        font-size: 47px;
    }

    .first-section-text {
        font-size: 17px;
    }

    .first-section {
        padding: 174px 0 60px;
        min-height: 600px;
    }
}

@media screen and (max-width: 575px) {
    .first-section-title {
        font-size: 32px;
    }

    .first-section-text {
        font-size: 16px;
    }

    .first-section {
        padding: 154px 0 30px;
        min-height: 500px;
    }
}