* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Gelasio', sans-serif; */
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.container--big {
    max-width: 1301px;
}

.header {
    position: absolute; 
    left: 0;
    right: 0;
    top: 0;
    padding: 33px 0 0;
}

.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu {
    padding-right: 120px;
}

.menu {
    list-style: none;
    display: flex;
}

.menu-link {
    display: inline-block; 
    font-family: 'Gelasio', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: rgba(8, 31, 50, 0.7);
    text-decoration: none;
    padding: 5px 20px;
}

.menu-link.active {
    color: #1B75BB;
    font-weight: 700;
}

.menu-link:hover {
    color: #1B75BB;
} 

.first-section {
    background: url(../img/img1.jpg) center no-repeat;  
    background-size: cover;
    margin-bottom: 336px;
}

.first-section .container {
    position: relative;
    min-height: 690px;
    padding: 214px 0 30px 30px;
}

.first-section-top {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(27, 117, 187, 0.8);
    margin: 0 0 15px;
}

.first-section-title {
    font-family: 'Gelasio', serif;
    font-weight: 600;
    font-size: 57px;
    line-height: 120%;
    color: #081F32;
    max-width: 456px;
    margin: 0 0 27px;
}

.first-section-title span {
    color: #1B75BB;
}

.first-section-text {
    font-size: 18px;
    line-height: 160%;
    max-width: 347px;
    margin: 0 0 31px;
    color: rgba(8, 31, 50, 0.6);
}

.btn {
    background: #1B75BB;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    padding: 15px 31px;
}

.btn:hover {
    background: #06426a;
}

.first-block {
    padding: 24px 49px 24px 21px; 
    display: flex;
    justify-content: space-between;
    max-width: 687px;
    background: rgba(255, 255, 255, 0.21);
    backdrop-filter: blur(70px);
    border-radius: 10px;
    position: absolute;
    left: -45px;
    bottom: -50px;
}

.block {
    padding-right: 30px;
    padding-left: 28px;
    position: relative;
}

.block::before {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    width: 2px;
    height: 34px;
    background-color: rgba(157, 172, 184, 0.4);
}

.block:first-child::before {
    display: none;
}

.block-h4 {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #081F32;
}

.block-p {
    font-size: 16px;
    line-height: 160%;
    color: rgba(8, 31, 50, 0.8);
}

.main {
    max-width: 1301px;
    display: flex;
    margin-bottom: 140px;
}

.images {
    position: relative;
}

.images::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: -60px;
    bottom: -60px;
    height: 228px;
    width: 228px;
    background: url("../img/img4.png") center no-repeat;
    background-size: cover;
}

.img2 {
    border-radius: 10px;
}

.img3 {
    position: absolute;
    top: -50px;
    right: -50px;
    border-radius: 10px;
    z-index: -1;
}

.text {
    padding: 23px 0 0 155px;
}

.block-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.1em;
    text-transform: uppercase;  
    color: rgba(27, 117, 187, 0.8);  
    margin-bottom: 15px;
}

.block-h2 {
    font-family: 'Gelasio', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 140%;
    color: #081F32;
    margin-bottom: 31px;
    max-width: 432px;
}

.why-h2 {
    font-family: 'Gelasio', sans-serif;
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    line-height: 140%;
    color: #081F32;
    margin-bottom: 25px;
}

.why-text-block {
    display: flex;
    justify-content: center;
}

.why-text {
    font-size: 18px;
    line-height: 160%;
    max-width: 819px;
    color: rgba(8, 31, 50, 0.6);
    text-align: center;
    margin-bottom: 60px;
}

.why-block {
    display: flex;
    justify-content: space-between;
    margin: 0 0 110px;
}

.blocks {
    width: 23%;
    border: 1px solid rgba(0, 0, 0, 0.1); 
    box-sizing: border-box;
    box-shadow: 0 4px 30px rgba(199, 199, 199, 0.25);
    border-radius: 5px;
    padding: 21px 0 18px 0;
    margin-bottom: 30px;
    text-align: center;
}

.imgs {
    margin-bottom: 40px;
}

.blocks-h3 {
    font-family: 'Gelasio', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    color: #081F32;
    margin-bottom: 15px;
}

.blocks-text {
    font-size: 18px;
    line-height: 160%;
    color: rgba(8, 31, 50, 0.6);
}

@media screen and (max-width: 768px) {

    .container {
        max-width: 738px;
    }

    .menu-link {
        padding: 5px 10px;
    }

    .first-section-title {
        font-size: 47px;
    }

    .first-section-text {
        font-size: 17px;
    }

    .first-section {
        padding: 174px 0 60px;
        min-height: 600px;
    }

    .header-menu {
        padding-right: 10px;
    }

    .first-section .container {
        padding: 140px 0 30px 30px;
    }

    .first-block {
        left: -30px;
        bottom: -110px;
    }

    .images::before {
        left: -15px;
        bottom: 30px;
        height: 130px;
        width: 130px;
    }

    .text {
        padding: 23px 0 0 80px;
    }

    .block-text {
        font-size: 18px;
    }

    .block-h2 {
        font-size: 26px;
    }

    .why-h2 {
        font-size: 26px;
    }

    .why-text {
        font-size: 16px;
        max-width: 500px;
    }

    .why-block {
        flex-wrap: wrap;
        padding: 0 60px 0 60px;
    }

    .blocks {
        width: 45%;
    }
}

@media screen and (max-width: 575px) {

    .header-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .menu-link {
        font-size: 16px;
        padding: 5px 10px 20px;
    }

    .btn {
        padding: 13px 20px;
    }

    .first-section-title {
        font-size: 32px;
    }

    .first-section-text {
        font-size: 16px;
    }

    .first-section {
        padding: 154px 0 30px;
        min-height: 500px;
    }

    .first-block {
        padding: 20px 25px 20px 21px;
        left: -10px;
        bottom: -50px;
    }

    .block {
        padding-right: 10px;
        padding-left: 10px;
        position: relative;
    }

    .block-p {
        font-size: 12px;
    }

    .first-section {
        margin-bottom: 200px;
    }

    .img3 {
        top: -20px;
        right: -15px;
    }

    .images::before {
        left: -15px;
        bottom: -10px;
        height: 120px;
        width: 120px;
    }

    .main {
        display: flex;
        margin-bottom: 140px;
        flex-wrap: wrap; 
    }

    .text {
        padding: 30px 0 0 0px;
    }

    .block-text {
        font-size: 16px;
    }

    .block-h2 {
        font-size: 16px;
    }

    .why-block {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 0 110px;
    }

    .why-h2 {
        font-size: 18px;
    }

    .blocks {
        width: 90%;
    }

    .blocks-h3 {
        font-size: 18px;
    }

    .blocks-text {
        font-size: 16px;
    }
}